---
import Navigation from "../components/Navigation.astro";
---
<html>
  <head>
    <title>Blue Layout</title>
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  body {
    background-color: #fca5a5;
    font-family: sans-serif;
  }
  main {
    font-size: 2rem;
    text-align: center;
    color: #991b1b;
  }
</style>