---
import Base from '../layouts/Base.astro';
---
<Base>
	<nav>
		<ul>
			<li><a href="/md/">default layout</a></li>
			<li><a href="/blog/a/">folder based layout</a></li>
			<li><a href="/blog/custom/a/">nested folder based layout</a></li>
			<li><a href="/blog/custom/b/">overwrite folder based layout</a></li>
			<li><a href="/blog/new/a/">idk</a></li>
		</ul>
	</nav>
</Base>
