---
import { add } from 'add';
import { substract } from 'substract';
import { Component } from 'astro-component';

const result = add(1,5)
const result2 = substract(10,5)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>{ result }</p>
		<p>{ result2 }</p>
		<Component />
	</body>
</html>
