<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/blog/foo/bar/">Blog/foo/bar</a></li>
  <li><a href="/blog/custom/">Blog/custom</a></li>
</ul>
<style>
  ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: center;
    padding: 2rem 0;
  }
  li {
    font-size: 1.25rem;
  }
  a {
    text-decoration: none;
    color: #000;
  }
</style>